.scroll-container {
	$sb-track-color: #f7f7f7;
	$sb-thumb-color: #bbbbbb;
	$sb-size: 10px;
	&::-webkit-scrollbar {
		width: 10px;
		background: $sb-track-color;
	}
	/* 滚动条角落 */
	&::-webkit-scrollbar-corner,
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-track {
		border-radius: 5px;
	}
	/* 滚动条轨道 */
	&::-webkit-scrollbar-track {
		background: $sb-track-color;
		border-radius: 5px;
		box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
	}
	/* 滚动条手柄 */
	&::-webkit-scrollbar-thumb {
		background: $sb-thumb-color;
		border-radius: 5px;
	}
}

.modal-content {
	position: absolute;
	background-color: #fff;
	border-radius: 8px;
	z-index: 100;
	font-size: 14px;
	box-shadow: 0px 0px 5px #b1b1b1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.modal-body {
	user-select: text;
	overflow: auto;
	min-width: 200px;
	min-height: 100px;
	flex-grow: 1;
}

.modal-diy-body {
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	$bottom-height: 24px;
	:deep(.modal-diy-content) {
		margin-bottom: calc($bottom-height + 16px);
	}
	:deep(.modal-diy-footer) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 19px);
		height: $bottom-height;
		border-top: 1px solid #e4e7ed;
		background-color: white;
	}
}
