.icon {
	width: 1.3em;
	height: 1.3em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	&:hover {
		transform: scale(0.9);
	}
}

.scroll-container {
	$sb-track-color: #f7f7f7;
	$sb-thumb-color: #bbbbbb;
	$sb-size: 10px;
	&::-webkit-scrollbar {
		width: 10px;
		background: $sb-track-color;
	}
	/* 滚动条角落 */
	&::-webkit-scrollbar-corner,
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-track {
		border-radius: 5px;
	}
	/* 滚动条轨道 */
	&::-webkit-scrollbar-track {
		background: $sb-track-color;
		border-radius: 5px;
		box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
	}
	/* 滚动条手柄 */
	&::-webkit-scrollbar-thumb {
		background: $sb-thumb-color;
		border-radius: 5px;
	}
}

.modal-content {
	position: absolute;
	background-color: #fff;
	border-radius: 8px;
	z-index: 100;
	font-size: 14px;
	box-shadow: 0px 0px 5px #b1b1b1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}
// windows风格的弹窗头部
.modal-header.windows {
	line-height: 2rem;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	border-top: 1px solid #e4e7ed;
	border-bottom: 1px solid #e4e7ed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	cursor: all-scroll;
	background-color: #f7f7f7;
	& > .modal-header-left {
		margin-left: 5px;
		&-title {
			font-weight: bold;
			white-space: nowrap; /*强制内容在一行显示*/
			overflow: hidden; /*超出部分隐藏*/
			text-overflow: ellipsis; /*溢出的部分使用省略号*/
		}
	}
	& > .modal-header-right {
		color: #848484;
		margin-right: 5px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
		height: inherit;
		& > .modal-header-right-btn {
			cursor: pointer;
			width: 2rem;
			height: inherit;
			border-left: 1px solid #e4e7ed;
			text-align: center;
		}
	}
}
// mac风格的弹窗头部
.modal-header.mac {
	line-height: 2rem;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	border-top: 1px solid #e4e7ed;
	border-bottom: 1px solid #e4e7ed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	cursor: all-scroll;
	background-color: #f7f7f7;
	& > .modal-header-left {
		margin-right: 5px;
		&-title {
			font-weight: bold;
			white-space: nowrap; /*强制内容在一行显示*/
			overflow: hidden; /*超出部分隐藏*/
			text-overflow: ellipsis; /*溢出的部分使用省略号*/
		}
	}
	& > .modal-header-right {
		color: #848484;
		margin-left: 5px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
		height: inherit;
		& > .modal-header-right-btn {
			cursor: pointer;
			width: 2rem;
			height: inherit;
			text-align: center;
		}
	}
}
.modal-footer {
	height: 24px;
	padding: 4px;
	border-top: 1px solid #e4e7ed;
	text-align: right;
}
.modal-body {
	user-select: text;
	overflow: auto;
	min-width: 200px;
	min-height: 100px;
	flex-grow: 1;
}
.modal-button {
	padding: 4px;
	line-height: 1em;
	border: 1px solid #dcdfe6;
	outline: none;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	background-color: #fff;
	transition: 0.1s;
	width: 4rem;
	height: 1.4rem;
	&:hover {
		color: #409eff;
		border-color: #c6e2ff;
		background-color: #ecf5ff;
	}
	& + & {
		margin-left: 10px;
	}
	&-primary {
		background-color: #2d8cf0;
		border-color: #2d8cf0;
		color: white;
		&:hover {
			background: #66b1ff;
			border-color: #66b1ff;
			color: #fff;
		}
	}
}

.modal-diy-body {
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	$bottom-height: 24px;
	:deep(.modal-diy-content) {
		margin-bottom: calc($bottom-height + 16px);
	}
	:deep(.modal-diy-footer) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 19px);
		height: $bottom-height;
		border-top: 1px solid #e4e7ed;
		background-color: white;
	}
}
